# Этот файл .gitignore должен быть размещен в корне вашего проекта Unity
#
# Получить последнюю версию можно по адресу: https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/ArchitecturalGame/[Ll]ibrary/
/ArchitecturalGame/[Tt]emp/
/ArchitecturalGame/[Oo]bj/
/ArchitecturalGame/[Bb]uild/
/ArchitecturalGame/[Bb]uilds/
/ArchitecturalGame/[Ll]ogs/
/ArchitecturalGame/[Uu]ser[Ss]ettings/

# MemoryCaptures могут занимать слишком много места.
# Они также могут содержать крайне чувствительные данные.
/ArchitecturalGame/[Mm]emoryCaptures/

# Записи могут занимать слишком много места.
/ArchitecturalGame/[Rr]ecordings/

# Раскомментируйте эту строку, если хотите игнорировать плагин инструментов магазина активов
# /ArchitecturalGame/[Aa]ssets/AssetStoreTools*

# Автогенерируемый плагин Jetbrains Rider
/ArchitecturalGame/[Aa]ssets/Plugins/Editor/JetBrains*/

# Каталог кеша Visual Studio
/ArchitecturalGame/.vs/

# Каталог кеша Gradle
/ArchitecturalGame/.gradle/

# Автогенерируемые файлы решения и проекта VS/MD/Consulo
/ArchitecturalGame/ExportedObj/
/ArchitecturalGame/.consulo/
/ArchitecturalGame/*.csproj
/ArchitecturalGame/*.unityproj
/ArchitecturalGame/*.sln
/ArchitecturalGame/*.suo
/ArchitecturalGame/*.tmp
/ArchitecturalGame/*.user
/ArchitecturalGame/*.userprefs
/ArchitecturalGame/*.pidb
/ArchitecturalGame/*.booproj
/ArchitecturalGame/*.svd
/ArchitecturalGame/*.pdb
/ArchitecturalGame/*.mdb
/ArchitecturalGame/*.opendb
/ArchitecturalGame/*.VC.db

# Сгенерированные метафайлы Unity3D
/ArchitecturalGame/*.pidb.meta
/ArchitecturalGame/*.pdb.meta
/ArchitecturalGame/*.mdb.meta

# Файл, сгенерированный Unity3D при сбоях
/ArchitecturalGame/sysinfo.txt

# Сборки
/ArchitecturalGame/*.apk
/ArchitecturalGame/*.aab
/ArchitecturalGame/*.unitypackage
/ArchitecturalGame/*.app

# Файл, сгенерированный Crashlytics
/ArchitecturalGame/crashlytics-build.properties

# Упакованные Addressables
/ArchitecturalGame/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Временные автогенерируемые Android Assets
/ArchitecturalGame/[Aa]ssets/[Ss]treamingAssets/aa.meta
/ArchitecturalGame/[Aa]ssets/[Ss]treamingAssets/aa/*
